body {
     background-color: #4484CE;
}

.form {
    border: 10px solid #D9D9D9;
    margin: 70px 50px;
    background-color: white;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #F9CF00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.login {
    text-align: center;
    margin: 24px 0 50px 0;
}

.header {
    text-align: center;
    font-family: helvetica;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 900px;
    padding-left: 50px;
}

h1 {
    font-weight: bold;
}
h2 {
    text-align: center;
    font-weight: bold;
}

ol {
    background: #ccc;
    padding: 20px;
}

ol li {
    background: white;
    padding: 5px;
    margin-left: 35px;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
}
ol li:nth-child(odd) { background: #4484CE; }