body {
     background-color: #4484CE;
}

.form {
    border: 10px solid #D9D9D9;
    margin: 7px 50px;
    background-color: white;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4484CE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}

button:hover {
    opacity: 0.8;
}

.header {
    text-align: center;
    font-family: arial;
    padding-top: 10px;
}

.container {
    padding-bottom: 50px;
    padding-right: 900px;
    padding-left: 50px;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #060b7a;
    font-family: arial;
    font-size: 50px;
}

h2 {
    text-align: left;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 10px;
}

ol li {
    background: white;
    padding: 5px;
    margin-left: 20px;
    font-family: arial;
    font-size: 20px;
    list-style-type: none;
    border-bottom: 1px grey;
    word-wrap: break-word;
}