<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="wnstyle.css">
</head>

<body>

<div class="header">
<h1>Web Notes</h1>
</div>

<form action="/login" method="GET">
  <div class="login">
    <h2>Welcome <%= username %>. Here are your notes </h2> 
  </div>

  <div class="container">
    
  </div>

</form>

</body>
</html>